.l-box {
  padding: 2em;
}

.bg-hero, .footer {
  background-color: #ccc;
}

.bg-gray {
  background-color: #eeeeee;
}

.box {
  background-color: #ffffff;
  padding: 10px;
}

.margin-20-top {
  margin-top: 20;
}

.footer {
  text-align: center;
}